<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>
            <span>Меню</span>
        </mat-toolbar>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>account_circle</mat-icon>
                    <span class="spaced">{{userName}}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-action-list>
                <button mat-list-item *ngIf="!accountService.isAuthenticated()" (click)="onLogin()">
                <mat-icon>login</mat-icon>
                <span class="spaced">Войти</span>
              </button>
                <button mat-list-item *ngIf="!accountService.isAuthenticated()" (click)="onRegister()">
                <mat-icon>person_add</mat-icon>
                <span class="spaced">Зарегистрироваться</span>
              </button>
                <button mat-list-item *ngIf="accountService.isAuthenticated()" (click)="onLogout()">
                <mat-icon>logout</mat-icon>
                <span class="spaced">Выйти</span>
              </button>
            </mat-action-list>
        </mat-expansion-panel>
        <mat-nav-list>
            <mat-list-item routerLink="">
                <mat-icon mat-list-icon>home</mat-icon>
                <span>Главная</span>
            </mat-list-item>
            <mat-list-item *ngIf="accountService.isAuthenticated()" routerLink="/notes">
                <mat-icon mat-list-icon>notes</mat-icon>
                <span>Заметки</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>NOTES</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>