<div class="container">
    <div>
        <h1>Изменить заметку</h1>
    </div>
    <div>
        <h2>{{note.Id}}</h2>
    </div>
    <div>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Заголовок заметки</mat-label>
            <input matInput placeholder="Заголовок" [(ngModel)]="note.Name">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Текст заметки</mat-label>
            <textarea matInput placeholder="Введите текст..." [(ngModel)]="note.Text"></textarea>
        </mat-form-field>
    </div>
    <div class="buttons">
        <button mat-raised-button color="basic" (click)="updateNoteHandler()">Сохранить</button>
        <button mat-raised-button color="accent" (click)="onCancel()">Отмена</button>
    </div>
</div>