.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo mat-icon {
    margin-right: 10px;
    position: relative;
    top: 3px
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.user-info {
    button {
        height: 50px;
    }

    .user-logo {
        margin-right: 20px;
        position: relative;
        bottom: 6px;
        font-size: 36px;
    }
    
    .expand-errow {
        margin-left: 10px;
    }
}

.navigation-links mat-list-item mat-icon {
    margin-right: 10px;
}