.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 40px auto;

    .note-list-controls {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        justify-content: right;
    }

    .note-list {
        grid-row: 2;
        grid-column: 1;

        .note {
            display: flex;
            justify-content: space-between;
        }
    }

    .note-edit-controls {
        grid-row: 1;
        grid-column: 2;
    }
    
    .note-edit {
        grid-row: 2;
        grid-column: 2;

        .editor-controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}